body { 
    font-family: 'Roboto Mono', monospace !important;
}

.home {
    background-color: blueviolet !important;
    color: white !important;
    font-size: 40px !important;
}


.about {
    background-color: crimson !important;
    color: white !important;
}

.centered {
    position: fixed;
    margin-top: 20%;
}

.btn-about {
    border: 2px solid white;
    position: fixed;
    border-radius: 40px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    margin-left:19%; 
    margin-right:15%;
    margin-top: 1%;
}

.btn-about:hover {
    color: blueviolet !important;
    text-decoration: none !important;
    background-color: white !important;
}

.img-me {
    width:150px; 
    height: 150px;
    margin-top: 7%;
    margin-bottom: 3%;
}

p {
    font-size: 25px !important;
}

.recuo { 
    text-indent:4em 
}

.icons {
    font-size: 25px;
    text-decoration: none !important;
    color: white;
    margin-right: 2%;
}

.icons:hover {
    color: lightgray;
}

.icons span {
    font-family: 'Roboto Mono', monospace !important;
    font-weight: normal;
    margin-left: 3px; 
}

@media screen and (max-width: 568px){
    .icons {
        font-size: 20px;
        text-decoration: none !important;
        color: white;
    }

    .icons span {
        display: none;
    }
}